body{
    background-color: #028157;
background-image: linear-gradient(135deg, #00ff40 0%, #172e19 100%);

}

main
{
    width: 300px;
    text-align: center;
    margin: auto;
    font-family: sans-serif;
}
